<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MasavBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>   
    </entityFramework>
  <connectionStrings>
    <add name="MasavDBConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Masav;Integrated Security=true" providerName="System.Data.SqlClient" />         
  </connectionStrings>
  <applicationSettings>
    <MasavBL.Properties.Settings>
      <setting name="ShemMosad" serializeAs="String">
        <value>D&amp;TD OELQ - DXEAC OIXTLD</value>
      </setting>
      <setting name="MosadNum" serializeAs="String">
        <value>00004</value>
      </setting>
      <setting name="Mosad" serializeAs="String">
        <value>09376013</value>
      </setting>
      <setting name="ReportPath" serializeAs="String">
        <value>C:\Report</value>
      </setting>
      <setting name="PdfReportPath" serializeAs="String">
        <value>C:\PdfReport</value>
      </setting>
      <setting name="ExcelReportPath" serializeAs="String">
        <value>D:\ExcelFiles</value>
      </setting>
    </MasavBL.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>